/* Hoja de estilo externa */
/* @import "normalizacion.css";*/
@import "reset.css";

/* ---------------- ETIQUETAS EN GENERAL ---------------- */
body{
    font-family: 'roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
a:link {text-decoration: none }

h1{
    color:white;
    font-size: 28px;
    letter-spacing: 0.05em;
}
h2{
    font-size:26px;
    text-align: center;
    padding-bottom: 30px;
}
h3{
    padding-top:30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px; 
}
h4{
    font-size:14px;
}
h5{
    color:white;
    font-size:17px;
}
h1,h2,h4,h5{
    font-weight: bold;
    margin: 12px 0px;
}

/* ---------------- HEADER - LOGO ---------------- */
/* Activar en engrita idiomas y pagina actual */
.act-negrita{
    font-weight: 700;
}
header .logo{  
    background: #fefbf2;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .logo img{
    height: 150px;
}
header .logo p{
    position: absolute;
    right: 25px;
    top: 25px;  
}
.logo p a{
   font-size: 13px;
}

/* -------------------- MENU NAV -------------------- */
header nav{
    background: #f79645;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav ul{
    display: flex;
}
header nav ul li{
    padding: 20px 15px;
}
header nav ul li:hover{
    background: rgba(255, 255, 255,.2);
}
header nav ul li a{
    color: white;
    padding: 25px 10px;
}
/* Seleccion pagina actual */
.act-menu{
    background: rgba(255, 255, 255,.2);
}

/* -------------------- IMAGEN BANNER PAGINAS-------------------- */
.ban{
    position: relative;
}
.ban img{
    width: 100%;
    margin-bottom: -3px;
}
.ban h1{
    position: absolute;
    bottom: 70px;
    width: 100%;
    text-align: center;
}
/* Barra debajo de banner foto */
.ban div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100%;
    background: #f8f8f8;
    font-size: 13px;
}

/* -------------------- FOOTER GENERAL-------------------- */
.i-footer{
    padding: 30px;
    background: #592517;
    display: flex;
    color: #d1d1d1;
    font-size: 12px;
}
.foo-col1{
    flex-grow:1;  
}
.foo-col2{
    flex-grow:1;
}
.foo-col2 a img{
    width: 45px;
    margin: 10px 5px;
}
.foo-col3{
    flex-grow:1;
}
.foo-col3 img{
    width: 350px;
    margin:15px 0px;
}

/* -------------------- FORMULARIO CONTACTA EN FOOTER-------------------- */
.form-cont{
    margin: 20px 0px;
}
input[name="comentarios"] {
    height: 4.5em;
}

/* También lo aplica al boton de otro formulario, Realiza tu pedido */
form input[type="submit"]{
    padding:8px 20px;
    border:1px solid #707070;
    color:#592517;
    background-color:#e0a45e;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
} 
form input[type="submit"]:hover{
    cursor:pointer;
    background: #fd8ca0;
}
.form-cont label{
    width: 100px;  
}
.form-cont input{
    width: 180px;
}
.aviso{
    margin-top:4px;
    margin-left: 4px;
    width:120px !important;
}
.form-cont li{
    display: flex;
    margin: 10px 0px;
    align-items: center;
}
#coment-label{
    align-self: flex-start;
    margin-top: 5px;
}
#form-enviar{
    width: 100px !important;
}
.form-enviar{
    width: 188px;
    text-align: right;
}
#aviso-legal{
    width: 15px !important;
}

/* -------------------- MAIN DIVISION INDEX -------------------- */
body main{
    display: flex;
    width: 100%;
}
.col-uno{
    padding: 40px 60px;
    width: 55%;
}
.col-dos{
    background: #f2f2f2;
    padding-top: 40px;
    width: 45%;
}

/* -------------------- NUESTROS PRODUCTOS -------------------- */

.img-prod img{
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    margin:10px 0px;
    width: 280px;
    height: 190px;
}
.img-prod{
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}
.img-prod div{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.img-prod div a{
    margin-top:20px;
    padding:16px 20px;
    background: #e0a45e;
    border-radius:30px ;
    -webkit-border-radius:30px ;
    -moz-border-radius:30px ;
    -ms-border-radius:30px ;
    -o-border-radius:30px ;
    width: 150px;
    color: white;
} 
.img-prod div a:hover{
    cursor:pointer;
    background: #fd8ca0;
}

/* -------------------- REALIZA TU PEDIDO INDEX Y PAG-------------------- */
.col-dos table{
    margin:0 auto;
    width: 80%;
}
.ul-uno li{
    display: flex;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
}
.rp-ul-uno li{
    margin: 25px 0px;
}
.ul-uno{
    margin-bottom: 30px;
    margin-top:10px;
}
.ul-uno label{
    width: 80px;
    font-size:12px 
}
.ul-uno li input{
    width: 220px;
    height: 23px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.ul-dos{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}
.div-ul-dos-col{
    background: #fafafa;
}
.div-ul-dos{
    padding-bottom: 30px;
}
.div-ul-dos li{
    margin:7px 0px;
}
.div-tres{
    padding:40px 0px;
    text-align: center;
    font-size: 12px;
}
.p-aviso-legal{
    display: flex;
    justify-content: space-around;
}
.p-aviso-c{
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-aviso-legal div:nth-child(2){
    width: 150px;
}
.btn-realiza{
    margin:30px;
}
.rp-lista{
    background: #fdf8f4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding:10px 20px;
}
.ul-dos li ul li{
    display: flex;
    align-items: center;
}

/* -------------------- QUIENES SOMOS -------------------- */
/* Dos primeras clases compartidas con contactanos */
.q-main{
    width: 95%;
}
.q-main section{
    padding:30px 30px;
}
.q-art header{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom:40px;
}
.q-art p{
    font-size: 14px;
}
.q-art-uno-p{
    width: 55%;
    font-size: 19px;
}
.q-art-div{
    display: flex;
}
.q-art-div img{
    max-width: 400px;
    max-height: 400px;
}
.q-art-div p{
    margin:10px 10px;
}
.q-art-foo p{
    margin:10px 10px;
}
.q-art{
    padding-bottom: 30px;
}

/* -------------------- CONTACTANOS -------------------- */
.c-main{
    display: flex;
    justify-content: center;
}
.c-main section{
    padding:30px 30px;
}
.c-art header{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom:40px;
}
.c-art-uno-p{
    font-size: 19px;
}
.c-art div{
    display: flex;
    justify-content: space-around;
}
.c-footer{
    padding: 30px;
    background: #592517;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d1d1d1;
    text-align: center;
}
.c-footer a{
    margin: 0px 10px;
}
.c-form{
    margin: 20px 0px;
}
.c-form label{
    width: 180px;  
}
.c-form input{
    width: 250px;
    height: 30px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.c-aviso{
    margin-top:4px;
    margin-left: 4px;
}
.c-form li{
    display: flex;
    margin: 25px 0px;
    align-items: center;
}
#c-comentarios{
    width:430px;
    height: 150px;
}
 #coment-label{
    margin-bottom: -15px;
}
.c-enviar{
  justify-content: center;
}
#c-enviar{
    width: 130px; 
}
 #c-legal{
    width: 15px;
}
.c-img{
    width:400px;
    height:230px;
    margin-top:40px;
}
.c-footer img{
    width: 55px;
}
/* -------------------- PANADERIA Y PASTELERIA -------------------- */
.product-row{
    display: flex;
    justify-content: space-between;
}
.products{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding:10px;
    margin:20px 0px;
}
.products img {
    width: 200px;
    height: 180px;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}
.products-text{
    font-size: 14px;
    padding:0px 5px;
    text-align: center;
}

/* -------------------- COMPARTIDO CON PAGINAS -------------------- */
.pag-main{
    justify-content: center;
}
.pag-main section{
    width: 45%;
    padding-top: 40px;
}
/* -------------------- MEDIA QUERIES -------------------- */
/* Hay que estudiar las medidas estandar que mas se utilizan para hacer 3 o 4 medias con medidas estandar y adaptar fotos, textos, menus a lo que se ve */

/* Si es menos de 1180px la pantalla... */
@media only screen and (max-width: 1180px) {
    .img-prod img {
        width: 200px;
        height: 160px;
    } 
}
@media only screen and (max-width: 910px) {
    .img-prod img {
        width: 190px;
        height: 130px;
    }
    .foo-col3 img{
        width: 250px;
    }
    .c-img{
        width: 350px;
        height: 200px;
    }
}

/* Navegador cambiar tamaño letras a menos de 770px de pantalla para que no se pegen */
@media only screen and (max-width: 770px) {
    nav {
        font-size: 12px;
    }
    .c-img{
        width: 250px;
        height: 150px;
        margin-left: 15px;
    }
}
@media only screen and (max-width: 525px) {
    nav {
        font-size: 9px;
    }
}